.grid {
    padding: 0 0 0 0;
}

.days {
    padding: 5px;
    border: 2px solid black;
    text-align: center;
}

.nights {
    background-color: #546bab;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
}

.week {
    margin: 1% 0 0.5% 0;
}