.grid {
    margin: 0 auto;
}

.days {
    background-color: #fffcc9;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}

.nights {
    background-color: #546bab;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}